@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Nunito:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Montserrat&family=Nunito:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
header {
    background-color: #1C1C1C;
    display: flex;
    width: 100%;
}
footer {
    background-color: #1C1C1C;
    display: flex;
    width: 100%;
    margin-top: 30px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-family: "Heebo", sans-serif;
}
.gora {
    display: flex;
    float: center;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.gora1 {
    display: flex;
    padding: 10px;
    float: center;
    justify-content: center;
    align-items: center;
}
.gora1 img {
    height: 20px;
}
.sociale {
    display: flex;
    padding: 10px;
    float: center;
    justify-content: center;
    align-items: center;
}
.sociale a {
    padding: 10px;
}
.sociale img {
    height: 20px;
}
.gora1 p {
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    margin-top: 5px;
    
}
.gora1 img {
    margin-right: 5px;
    margin-left: 10px;
}
.gora1 h1 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    display: none;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.logoes {
    width: 25%;
}
.logo {
    width: 100px;
    margin-left: 25px;
}
.menu {
    display: flex;
    background-color: #DF0101;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu ul {
    display: flex;
}
.menuItem li {
    list-style-type: none;
    padding: 10px;
}
.menuItem li:hover {
    background-color: #CF0101;
    transition: 0.2s;
}
.menuItem a {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}
.menutel {
    display: none;
}
.menu h1 {
    font-family: Arial, sans-serif;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}
.menu h1:hover {
    background-color: #CF0101;
}
.menu a {
    text-decoration: none;
}
.dropdown {
    position: relative;
}
.dropdown ul {
    display: none;
    position: absolute;
    text-align: center;
    list-style-type: none;
    background-color: #DF0101;
    width: 113px;
    margin-left: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.dropdown a {
    color: #fff;
    font-family: "Nunito", sans-serif;
}
.dropdown li:hover {
    background-color: #CF0101;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.rozgrywki:hover + ul,
.dropdown ul:hover {
    display: block;
}
.klub {
    width: 93px;
}
.klub:hover + ul,
.dropdown ul:hover {
    display:block;
}
main {
    display: flex;
}
.maintop h1 {
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px;
}
.maintop h2 {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    font-size: 15px;
}
.dp {
    width: 25%;
    height: 100%;
}
.tlo img {
    width: 100%;
    height: 100%;
}
.zawodnicy {
    display: flex;
}
.karta  {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
}
.karta img {
    width: 300px;
}
.karta h2, p {
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.karta p {
    padding-bottom: 20px;
}
.maintop h2 {
    margin-top: 50px;
}
@media only screen and (max-width: 768px) {
    .gora1 p {
        display: none;
    }
    .gora1 img {
        display: none;
    }
    .gora1 h1 {
        display: flex;
    }
    .menuItem li {
        display: none;
    }
    .menutel {
        background-color: #DF0101;
        width: 100%;
        display: block;
    }
    .menuItemtel a {
        color: #fff;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
    }
    .menuItemtel li {
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .dp {
        display: none;
    }
    .tlo img {
        width: 97%;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    .tlo {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .zawodnicy {
        display: grid;
    }
    .karta {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
