@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Nunito:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Montserrat&family=Nunito:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
header {
    background-color: #1C1C1C;
    display: flex;
    width: 100%;
}
footer {
    background-color: #1C1C1C;
    display: flex;
    width: 100%;
    margin-top: 30px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-family: "Heebo", sans-serif;
}
.gora {
    display: flex;
    float: center;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.gora1 {
    display: flex;
    padding: 10px;
    float: center;
    justify-content: center;
    align-items: center;
}
.gora1 img {
    height: 20px;
}
.gora1 h1 {
    display: none;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sociale {
    display: flex;
    padding: 10px;
    float: center;
    justify-content: center;
    align-items: center;
}
.sociale a {
    padding: 10px;
}
.sociale img {
    height: 20px;
}
.gora1 p {
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    margin-top: 5px;
    
}
.gora1 img {
    margin-right: 5px;
    margin-left: 10px;
}
.logoes {
    width: 25%;
}
.logo {
    width: 100px;
    margin-left: 25px;
}
.menu {
    display: flex;
    background-color: #DF0101;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu ul {
    display: flex;
}
.menuItem li {
    list-style-type: none;
    padding: 10px;
}
.menuItem li:hover {
    background-color: #CF0101;
    transition: 0.2s;
}
.menuItem a {
    text-decoration:  none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}
.menutel {
    display: none;
}
.menu h1 {
    font-family: Arial, sans-serif;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}
.menu h1:hover {
    background-color: #CF0101;
}
.menu a {
    text-decoration: none;
}
main {
    display: flex;
}
.maintop {
    width: 50%;
}
.maintop h1 {
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px;
}
.maintop h2 {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    font-size: 15px;
}
.dp {
    width: 25%;
    height: 100%;
}
.lista {
    width: 100%;
}
.lista a {
    text-decoration: none;
    color: #fff;
}
.lista h2 {
    background-color: #1C1C1C;
    margin-left: 10px;
    width: 100%;
    padding: 20px;
}
.lista h3 {
    background-color: #252525;
    margin-left: 10px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    padding: 20px
}
.lista h2:hover {
    background-color: #DF0101;
    transition: all 0.4s ease-in-out;
}
.lista h3:hover {
    background-color: #DF0101;
    transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 767px) {
    .gora1 p{
        display: none;
    }
    .gora1 img {
        display: none;
    }
    .gora1 h1 {
        display: flex;
    }
    .menu h1 {
        display: flex;
    }
    .newsborder {
        display: grid;
    }
    .menuItem li{
        display: none;
    }
    .menutel {
        background-color: #DF0101;
        width: 100%;
        display: block;
    }
    .menuItemtel a {
        color: #fff;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
    }
    .menuItemtel a:hover {
        border: solid 2px #CF0101;
        padding: 5px;
        border-radius: 20px;
    }
    .menuItemtel li {
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .dp {
        display: none;
    }
    .maintop {
        width: 85%;
    }
}